/*! CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! DISPLAY */

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block{
    display: inline-block;
}

/*! ALIGNMENTS */

.jc-start{
    justify-content: flex-start;
}

.jc-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-end{
    align-items: flex-end;
}

.ai-center{
    align-items: center;
}

/*! ROW */

.row{
    display: flex;
    flex-wrap: wrap;
}


/*!COLUMN */

    /*# COL GENERICS */

    .col{
        flex-grow: 1;
    }


    /*# COL SIZE */

    .col-12{
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-11{
        max-width: calc(100% / 12 * 11);
        flex-basis: calc(100% / 12 * 11);
    }

    .col-10{
        max-width: calc(100% / 12 * 10);
        flex-basis: calc(100% / 12 * 10);
    }

    .col-9{
        max-width: calc(100% / 12 * 9);
        flex-basis: calc(100% / 12 * 9);
    }

    .col-8{
        max-width: calc(100% / 12 * 8);
        flex-basis: calc(100% / 12 * 8);
    }

    .col-7{
        max-width: calc(100% / 12 * 7);
        flex-basis: calc(100% / 12 * 7);
    }

    .col-6{
        max-width: calc(100% / 12 * 6);
        flex-basis: calc(100% / 12 * 6);
    }

    .col-5{
        max-width: calc(100% / 12 * 5);
        flex-basis: calc(100% / 12 * 5);
    }
    
    .col-4{
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .col-3{
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .col-2{
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }
    
    .col-1{
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

/*! OFFSET */

    .ofs-12{
        margin-left: 100%;
    }

    .ofs-11{
        margin-left: calc(100% / 12 * 11);
    }

    .ofs-10{
        margin-left: calc(100% / 12 * 10);
    }

    .ofs-9{
        margin-left: calc(100% / 12 * 9);
    }

    .ofs-8{
        margin-left: calc(100% / 12 * 8);
    }

    .ofs-7{
        margin-left: calc(100% / 12 * 7);
    }

    .ofs-6{
        margin-left: calc(100% / 12 * 6);
    }

    .ofs-5{
        margin-left: calc(100% / 12 * 5);
    }

    .ofs-4{
        margin-left: calc(100% / 12 * 4);
    }

    .ofs-3{
        margin-left: calc(100% / 12 * 3);
    }

    .ofs-2{
        margin-left: calc(100% / 12 * 2);
    }

    .ofs-1{
        margin-left: calc(100% / 12);
    }

    .ofs-0{
        margin-left: 0;
    }

/*! RESPONSIVE */

    /*+ SMALL SIZE (>576 px) */

    @media screen and (min-width: 577px){

        /*# DISPLAY */

        .d-none-sm{
            display: none;
        }

        .d-flex-sm{
            display: flex;
        }

        .d-block-sm{
            display: block;
        }

        .d-inline-sm{
            display: inline;
        }

        .d-inline-block-sm{
            display: inline-block;
        }

        /*# COL SIZE */

        .col-sm-12{
            max-width: 100%;
            flex-basis: 100%;
        }
    
        .col-sm-11{
            max-width: calc(100% / 12 * 11);
            flex-basis: calc(100% / 12 * 11);
        }
    
        .col-sm-10{
            max-width: calc(100% / 12 * 10);
            flex-basis: calc(100% / 12 * 10);
        }
    
        .col-sm-9{
            max-width: calc(100% / 12 * 9);
            flex-basis: calc(100% / 12 * 9);
        }
    
        .col-sm-8{
            max-width: calc(100% / 12 * 8);
            flex-basis: calc(100% / 12 * 8);
        }
    
        .col-sm-7{
            max-width: calc(100% / 12 * 7);
            flex-basis: calc(100% / 12 * 7);
        }
    
        .col-sm-6{
            max-width: calc(100% / 12 * 6);
            flex-basis: calc(100% / 12 * 6);
        }
    
        .col-sm-5{
            max-width: calc(100% / 12 * 5);
            flex-basis: calc(100% / 12 * 5);
        }
        
        .col-sm-4{
            max-width: calc(100% / 12 * 4);
            flex-basis: calc(100% / 12 * 4);
        }
    
        .col-sm-3{
            max-width: calc(100% / 12 * 3);
            flex-basis: calc(100% / 12 * 3);
        }
    
        .col-sm-2{
            max-width: calc(100% / 12 * 2);
            flex-basis: calc(100% / 12 * 2);
        }
        
        .col-sm-1{
            max-width: calc(100% / 12);
            flex-basis: calc(100% / 12);
        }
    
    /*! OFFSET */
    
        .ofs-sm-12{
            margin-left: 100%;
        }
    
        .ofs-sm-11{
            margin-left: calc(100% / 12 * 11);
        }
    
        .ofs-sm-10{
            margin-left: calc(100% / 12 * 10);
        }
    
        .ofs-sm-9{
            margin-left: calc(100% / 12 * 9);
        }
    
        .ofs-sm-8{
            margin-left: calc(100% / 12 * 8);
        }
    
        .ofs-sm-7{
            margin-left: calc(100% / 12 * 7);
        }
    
        .ofs-sm-6{
            margin-left: calc(100% / 12 * 6);
        }
    
        .ofs-sm-5{
            margin-left: calc(100% / 12 * 5);
        }
    
        .ofs-sm-4{
            margin-left: calc(100% / 12 * 4);
        }
    
        .ofs-sm-3{
            margin-left: calc(100% / 12 * 3);
        }
    
        .ofs-sm-2{
            margin-left: calc(100% / 12 * 2);
        }
    
        .ofs-sm-1{
            margin-left: calc(100% / 12);
        }
    
        .ofs-sm-0{
            margin-left: 0;
        }

    }

        /*+ MEDIUM SIZE (> 768px) */

        @media screen and (min-width: 769px){

            /*# DISPLAY */
    
            .d-none-md{
                display: none;
            }
    
            .d-flex-md{
                display: flex;
            }
    
            .d-block-md{
                display: block;
            }
    
            .d-inline-md{
                display: inline;
            }
    
            .d-inline-block-md{
                display: inline-block;
            }
    
            /*# COL SIZE */
    
            .col-md-12{
                max-width: 100%;
                flex-basis: 100%;
            }
        
            .col-md-11{
                max-width: calc(100% / 12 * 11);
                flex-basis: calc(100% / 12 * 11);
            }
        
            .col-md-10{
                max-width: calc(100% / 12 * 10);
                flex-basis: calc(100% / 12 * 10);
            }
        
            .col-md-9{
                max-width: calc(100% / 12 * 9);
                flex-basis: calc(100% / 12 * 9);
            }
        
            .col-md-8{
                max-width: calc(100% / 12 * 8);
                flex-basis: calc(100% / 12 * 8);
            }
        
            .col-md-7{
                max-width: calc(100% / 12 * 7);
                flex-basis: calc(100% / 12 * 7);
            }
        
            .col-md-6{
                max-width: calc(100% / 12 * 6);
                flex-basis: calc(100% / 12 * 6);
            }
        
            .col-md-5{
                max-width: calc(100% / 12 * 5);
                flex-basis: calc(100% / 12 * 5);
            }
            
            .col-md-4{
                max-width: calc(100% / 12 * 4);
                flex-basis: calc(100% / 12 * 4);
            }
        
            .col-md-3{
                max-width: calc(100% / 12 * 3);
                flex-basis: calc(100% / 12 * 3);
            }
        
            .col-md-2{
                max-width: calc(100% / 12 * 2);
                flex-basis: calc(100% / 12 * 2);
            }
            
            .col-md-1{
                max-width: calc(100% / 12);
                flex-basis: calc(100% / 12);
            }
        
        /*! OFFSET */
        
            .ofs-md-12{
                margin-left: 100%;
            }
        
            .ofs-md-11{
                margin-left: calc(100% / 12 * 11);
            }
        
            .ofs-md-10{
                margin-left: calc(100% / 12 * 10);
            }
        
            .ofs-md-9{
                margin-left: calc(100% / 12 * 9);
            }
        
            .ofs-md-8{
                margin-left: calc(100% / 12 * 8);
            }
        
            .ofs-md-7{
                margin-left: calc(100% / 12 * 7);
            }
        
            .ofs-md-6{
                margin-left: calc(100% / 12 * 6);
            }
        
            .ofs-md-5{
                margin-left: calc(100% / 12 * 5);
            }
        
            .ofs-md-4{
                margin-left: calc(100% / 12 * 4);
            }
        
            .ofs-md-3{
                margin-left: calc(100% / 12 * 3);
            }
        
            .ofs-md-2{
                margin-left: calc(100% / 12 * 2);
            }
        
            .ofs-md-1{
                margin-left: calc(100% / 12);
            }
        
            .ofs-md-0{
                margin-left: 0;
            }
    
        }

        /*+ LARGE SIZE (> 992px) */

        @media screen and (min-width: 993px){

            /*# DISPLAY */
    
            .d-none-lg{
                display: none;
            }
    
            .d-flex-lg{
                display: flex;
            }
    
            .d-block-lg{
                display: block;
            }
    
            .d-inline-lg{
                display: inline;
            }
    
            .d-inline-block-lg{
                display: inline-block;
            }
    
            /*# COL SIZE */
    
            .col-lg-12{
                max-width: 100%;
                flex-basis: 100%;
            }
        
            .col-lg-11{
                max-width: calc(100% / 12 * 11);
                flex-basis: calc(100% / 12 * 11);
            }
        
            .col-lg-10{
                max-width: calc(100% / 12 * 10);
                flex-basis: calc(100% / 12 * 10);
            }
        
            .col-lg-9{
                max-width: calc(100% / 12 * 9);
                flex-basis: calc(100% / 12 * 9);
            }
        
            .col-lg-8{
                max-width: calc(100% / 12 * 8);
                flex-basis: calc(100% / 12 * 8);
            }
        
            .col-lg-7{
                max-width: calc(100% / 12 * 7);
                flex-basis: calc(100% / 12 * 7);
            }
        
            .col-lg-6{
                max-width: calc(100% / 12 * 6);
                flex-basis: calc(100% / 12 * 6);
            }
        
            .col-lg-5{
                max-width: calc(100% / 12 * 5);
                flex-basis: calc(100% / 12 * 5);
            }
            
            .col-lg-4{
                max-width: calc(100% / 12 * 4);
                flex-basis: calc(100% / 12 * 4);
            }
        
            .col-lg-3{
                max-width: calc(100% / 12 * 3);
                flex-basis: calc(100% / 12 * 3);
            }
        
            .col-lg-2{
                max-width: calc(100% / 12 * 2);
                flex-basis: calc(100% / 12 * 2);
            }
            
            .col-lg-1{
                max-width: calc(100% / 12);
                flex-basis: calc(100% / 12);
            }
        
        /*! OFFSET */
        
            .ofs-lg-12{
                margin-left: 100%;
            }
        
            .ofs-lg-11{
                margin-left: calc(100% / 12 * 11);
            }
        
            .ofs-lg-10{
                margin-left: calc(100% / 12 * 10);
            }
        
            .ofs-lg-9{
                margin-left: calc(100% / 12 * 9);
            }
        
            .ofs-lg-8{
                margin-left: calc(100% / 12 * 8);
            }
        
            .ofs-lg-7{
                margin-left: calc(100% / 12 * 7);
            }
        
            .ofs-lg-6{
                margin-left: calc(100% / 12 * 6);
            }
        
            .ofs-lg-5{
                margin-left: calc(100% / 12 * 5);
            }
        
            .ofs-lg-4{
                margin-left: calc(100% / 12 * 4);
            }
        
            .ofs-lg-3{
                margin-left: calc(100% / 12 * 3);
            }
        
            .ofs-lg-2{
                margin-left: calc(100% / 12 * 2);
            }
        
            .ofs-lg-1{
                margin-left: calc(100% / 12);
            }
        
            .ofs-lg-0{
                margin-left: 0;
            }
    
        }

        /*+ EXTRA LARGE SIZE (> 1200px) */

        @media screen and (min-width: 1201px){

            /*# DISPLAY */
    
            .d-none-xl{
                display: none;
            }
    
            .d-flex-xl{
                display: flex;
            }
    
            .d-block-xl{
                display: block;
            }
    
            .d-inline-xl{
                display: inline;
            }
    
            .d-inline-block-xl{
                display: inline-block;
            }
    
            /*# COL SIZE */
    
            .col-xl-12{
                max-width: 100%;
                flex-basis: 100%;
            }
        
            .col-xl-11{
                max-width: calc(100% / 12 * 11);
                flex-basis: calc(100% / 12 * 11);
            }
        
            .col-xl-10{
                max-width: calc(100% / 12 * 10);
                flex-basis: calc(100% / 12 * 10);
            }
        
            .col-xl-9{
                max-width: calc(100% / 12 * 9);
                flex-basis: calc(100% / 12 * 9);
            }
        
            .col-xl-8{
                max-width: calc(100% / 12 * 8);
                flex-basis: calc(100% / 12 * 8);
            }
        
            .col-xl-7{
                max-width: calc(100% / 12 * 7);
                flex-basis: calc(100% / 12 * 7);
            }
        
            .col-xl-6{
                max-width: calc(100% / 12 * 6);
                flex-basis: calc(100% / 12 * 6);
            }
        
            .col-xl-5{
                max-width: calc(100% / 12 * 5);
                flex-basis: calc(100% / 12 * 5);
            }
            
            .col-xl-4{
                max-width: calc(100% / 12 * 4);
                flex-basis: calc(100% / 12 * 4);
            }
        
            .col-xl-3{
                max-width: calc(100% / 12 * 3);
                flex-basis: calc(100% / 12 * 3);
            }
        
            .col-xl-2{
                max-width: calc(100% / 12 * 2);
                flex-basis: calc(100% / 12 * 2);
            }
            
            .col-xl-1{
                max-width: calc(100% / 12);
                flex-basis: calc(100% / 12);
            }
        
        /*! OFFSET */
        
            .ofs-xl-12{
                margin-left: 100%;
            }
        
            .ofs-xl-11{
                margin-left: calc(100% / 12 * 11);
            }
        
            .ofs-xl-10{
                margin-left: calc(100% / 12 * 10);
            }
        
            .ofs-xl-9{
                margin-left: calc(100% / 12 * 9);
            }
        
            .ofs-xl-8{
                margin-left: calc(100% / 12 * 8);
            }
        
            .ofs-xl-7{
                margin-left: calc(100% / 12 * 7);
            }
        
            .ofs-xl-6{
                margin-left: calc(100% / 12 * 6);
            }
        
            .ofs-xl-5{
                margin-left: calc(100% / 12 * 5);
            }
        
            .ofs-xl-4{
                margin-left: calc(100% / 12 * 4);
            }
        
            .ofs-xl-3{
                margin-left: calc(100% / 12 * 3);
            }
        
            .ofs-xl-2{
                margin-left: calc(100% / 12 * 2);
            }
        
            .ofs-xl-1{
                margin-left: calc(100% / 12);
            }
        
            .ofs-xl-0{
                margin-left: 0;
            }
    
        }

        /*+ EXTRA EXTRA LARGE SIZE (> 1400px) */

        @media screen and (min-width: 1401px){

            /*# DISPLAY */
    
            .d-none-xxl{
                display: none;
            }
    
            .d-flex-xxl{
                display: flex;
            }
    
            .d-block-xxl{
                display: block;
            }
    
            .d-inline-xxl{
                display: inline;
            }
    
            .d-inline-block-xxl{
                display: inline-block;
            }
    
            /*# COL SIZE */
    
            .col-xxl-12{
                max-width: 100%;
                flex-basis: 100%;
            }
        
            .col-xxl-11{
                max-width: calc(100% / 12 * 11);
                flex-basis: calc(100% / 12 * 11);
            }
        
            .col-xxl-10{
                max-width: calc(100% / 12 * 10);
                flex-basis: calc(100% / 12 * 10);
            }
        
            .col-xxl-9{
                max-width: calc(100% / 12 * 9);
                flex-basis: calc(100% / 12 * 9);
            }
        
            .col-xxl-8{
                max-width: calc(100% / 12 * 8);
                flex-basis: calc(100% / 12 * 8);
            }
        
            .col-xxl-7{
                max-width: calc(100% / 12 * 7);
                flex-basis: calc(100% / 12 * 7);
            }
        
            .col-xxl-6{
                max-width: calc(100% / 12 * 6);
                flex-basis: calc(100% / 12 * 6);
            }
        
            .col-xxl-5{
                max-width: calc(100% / 12 * 5);
                flex-basis: calc(100% / 12 * 5);
            }
            
            .col-xxl-4{
                max-width: calc(100% / 12 * 4);
                flex-basis: calc(100% / 12 * 4);
            }
        
            .col-xxl-3{
                max-width: calc(100% / 12 * 3);
                flex-basis: calc(100% / 12 * 3);
            }
        
            .col-xxl-2{
                max-width: calc(100% / 12 * 2);
                flex-basis: calc(100% / 12 * 2);
            }
            
            .col-xxl-1{
                max-width: calc(100% / 12);
                flex-basis: calc(100% / 12);
            }
        
        /*! OFFSET */
        
            .ofs-xxl-12{
                margin-left: 100%;
            }
        
            .ofs-xxl-11{
                margin-left: calc(100% / 12 * 11);
            }
        
            .ofs-xxl-10{
                margin-left: calc(100% / 12 * 10);
            }
        
            .ofs-xxl-9{
                margin-left: calc(100% / 12 * 9);
            }
        
            .ofs-xxl-8{
                margin-left: calc(100% / 12 * 8);
            }
        
            .ofs-xxl-7{
                margin-left: calc(100% / 12 * 7);
            }
        
            .ofs-xxl-6{
                margin-left: calc(100% / 12 * 6);
            }
        
            .ofs-xxl-5{
                margin-left: calc(100% / 12 * 5);
            }
        
            .ofs-xxl-4{
                margin-left: calc(100% / 12 * 4);
            }
        
            .ofs-xxl-3{
                margin-left: calc(100% / 12 * 3);
            }
        
            .ofs-xxl-2{
                margin-left: calc(100% / 12 * 2);
            }
        
            .ofs-xxl-1{
                margin-left: calc(100% / 12);
            }
        
            .ofs-xxl-0{
                margin-left: 0;
            }
    
        }